* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
    /*font 1, font 2 - dung 2 neu ko co 1 trong may,font-random - neu khong co 1.2 thi chon ngau nhien 1 font co trong may */
}

/* Common */
.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    overflow: hidden;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.333%;
}

.mt-8 {
    /*magrin-top:8px;*/
    margin-top: 8px !important;
}

.mt-16 {
    /*magrin-top:16px;*/
    margin-top: 16px !important;
}


.mt-32 {
    /*magrin-top:16px;*/
    margin-top: 32px !important;
}

/* Main */
#main {}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav {
    list-style: none;
}

#nav {}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav>li:hover>a, #nav .subnav li:hover {
    /* dùng chung thuộc tính*/
    color: #000;
    background-color: #ccc;
}

#nav li:hover a {
    display: inline-block;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav {
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 10px;
    min-width: 160px;
}

#nav .subnav a {
    color: black;
    padding: 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 12px;
}

#header .nav-arrow-down {
    font-size: 14px;
}

#header .moblie-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .moblie-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .moblie-menu-btn:hover {
    background-color: #ccc;
}

#header .moblie-menu-btn:hover .menu-icon {
    color: #000;
}

#header .moblie-menu-btn:hover {
    background-color: #ccc;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    padding: 0 21px;

}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    position: absolute;
    bottom: 27px;
    color: #fff;
    /* left:50%;
transform:translateX(-50%); */
    width: 100%;
    text-align: center;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}


#content {}

#content .content-section {
    width: 800px;
    /* 1 */
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 16px;
    padding-left: 16px;

}

#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;

}

#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    font-size: 15px;
    margin-top: 25px;
    line-height: 1.4;

}

#content .members-list {
    margin-top: 32px;
    overflow: hidden;
}



#content .member-name {
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.tickets-list li {
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quanlity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

/* places */

.places-list {
    margin-top: 16px;
    overflow: hidden;
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;

}



/* Contact from */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    line-height: 1.5;
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #101aef; 
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map section */
.map-section img {
    width: 100%;
}

/* Footer section */
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list {
    font-size: 24px;

}

#footer .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .coppy-right a:hover,
#footer .socials-list a:hover {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

#footer .coppy-right {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);

}

#footer .coppy-right a {
    color: rgba(0, 0, 0, 0.6);
}